
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>LOGIN</h1>
<form method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="submit">
</form>
<p>Don't have an account?</p>
            <a class="btn" href="/signup">Sign Up</a>
            <p>or</p>
            <a class="btn" href="/">Continue as a Guest</a>
            <br>
            <br>
            <a class="btn" href="/logout">Log out</a></h2>
</body>
</html>