<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Page</title>
  
</head>
<pre>{{.}}</pre>
<hr>

<body>

   <h1>Welcome to Forum</h1>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
          </ul>
          <ul>
             <li><a href="/sign-up.html">Register</a></li>
          </ul>
        </div>
      </div>
    </div>

   <!-- <a href="login">Login</a><br><br> -->
   
   <!-- <a href="sign-up.html">Sign-up</a> -->

 </body>

</html>