<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Sign-up</title>

   <form action="/sign-up-form" method="post">
      <div class="container">
         <h1>Sign up</h1>
         <hr />
         
         <label for=" "><b>What's your email?</b></label>
         <input type="text" placeholder="Enter your email." name="email"/><br><br>
         
         <label for="password"><b>Create a password</b></label>
         <input type="text" placeholder="Create a password." Password" name="password"/><br><br>

      
         <label for="username"><b>What should we call you?</b></label>
         <input type="text" placeholder="Enter a profile name." name="username"/><br><br>


         <div class="clearfix">
           <button class="signupbtn" type="submit">Sign-up</button>
         </div>
      </div>
   </form>
</head>

<body></body>

</html>